/.DS_Store
/.ipynb_checkpoints
/Final2.ipynb
/submission.csv
/submission1.csv
/submission10.csv
/submission11.csv
/submission12.csv
/submission17.csv
/submission2.csv
/submission3.csv
/submission4.csv
/submission6.csv
/submission7.csv
/submission9.csv
/submission_precision_tuned.csv